.App {
  text-align: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}

.flex-container-row {
  display: flex;
}

input {
  margin: 10px;
  max-width: 100px;
}
